@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'GE Dinar One';
    src: url('/fonts/DroidArabicKufi.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'GE Dinar One';
    src: url('/fonts/DroidArabicKufiBold.ttf');
    font-weight: bold;
}

* {
    font-family: 'GE Dinar One';
}